
@media all and (min-width:660px) and (max-width: 992px) {
  .container-fluid {
	padding-top: 100px;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
}
h1{
	text-align: center;
	font-size: 40px;
	padding-top: 15px;
	padding-bottom: 40px;
}

img{
	margin-left: auto;
	margin-right: auto;
}
a{
	color: #4a7777;
}
a:hover{
	color: #578687;
}
#mainPic{
	width: 300px;
	height: 300px;
}
.icon{
	padding-right: 20px;
	opacity: 0.8;

}
.icon:hover{
	opacity: 1;
}

.card{
	margin-left: auto;
	margin-right: auto;
	width: auto;
	height: auto;
	max-width: 500px;
	height: 200px;
	color: #ffffff;
	margin-bottom: 15px;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: filter 0.4s; 
    -webkit-transition: -webkit-filter 0.4s;
    border: none;
}
.card:hover{
	-webkit-transition: -webkit-filter 0.3s;
	transition: filter 0.3s; 
	-webkit-transition: box-shadow 0.2s;
	transition: box-shadow 0.2s; 

	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    cursor: pointer;
    box-shadow: 0px 0px 20px #444444;
}
.nav-item{
	cursor: pointer;
}
#card-code{

		background-image: url("../img/code.jpg");
}

#card-art{
		background-position: center; 
		background-image: url("../img/art.jpg");
}

#card-music{
		background-image: url("../img/music.jpg");
}

.card h4{
	padding-top: 30px;
	font-size: 5em;
	text-shadow: 0px 0px 5px #222222;
}
.card-body{
width: auto;
height: auto;
margin: auto;



}

body:after{
 display:none;
 content: url("../img/code.jpg");
}
.card-img-overlay{
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.slide-fade-enter-active, .slide-fade-leave-active  {

  transition: all 1s ease;
}

.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(-100px);
  opacity: 0;
}

.slide-up-fade-enter-active {

  transition: all .6s ease;
}
.slide-up-fade-leave-active  {
	transition: all .6s ease;
}

.slide-up-fade-enter, .slide-up-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(28px);
  opacity: 0;
}
#sidebar{
	height: 100%;
	background: #e2e2e2;

}
#sidebar > p{
	font-size: 16px;

}
.content{
	width: 100%;
	padding-left: 100px;
}
.container-fluid{
	padding-left: 50px;
	padding-right: 50px;
	max-width: 1500px;
}

#preloadedImages
{

    display: inline;
    background-image: url("../img/art.jpg");
    background-image: url();
}