<!DOCTYPE html>
<html>
    <head>
        <title> Menchine: About</title>
        <script src="/static/js/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
        <link rel="stylesheet" href="/static/css/main.css">
        
    </head>

    <body>
        
        <div id="app" class="main">
            <div v-if="temp_forgotten">
                <p>forgotten</p>
            </div>
            <div v-else class="wrapper">
                
<div class="spacer-100px"></div>
    <p>My name is Conrad. What's your name?</p>
    <input v-if="!about_show_greeting" v-model="temp_user_name" v-on:keydown.enter="submit_user_name">
    <p v-if="about_show_greeting">Hello, ${user_name}.</p>
    <div v-if="about_show_more_info">
        <p>I am an artist masquerading as an engineer. Please join me in my pursuit of knowledge.</p>
        <a href="/"><h1 class="backarrow">←</h1></a>
    </div>

                
            </div>
            <script src="/static/js/main.js"></script>
        </div>
    </body>
    </html>