<!DOCTYPE html>
<html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<link rel="apple-touch-icon" sizes="57x57" href="/ico/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/ico/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/ico/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/ico/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/ico/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/ico/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/ico/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/ico/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/ico/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/ico/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/ico/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/ico/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/ico/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ico/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<meta name="keywords" content="conrad menchine, conrad, menchine, conrad menchine website, cowratt, santa cruz, graphic design, programmer, cone" />
	<meta name="description" content="Conrad Menchine, programmer and graphic artist based in Santa Cruz, CA.">






	<title>Conrad Menchine</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>

	
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"></link>
	<link rel="stylesheet" type="text/css" href="css/main.css"></link>
	
  <link rel="preload" href="https://www.youtube-nocookie.com/embed/ZujKJipNVyg?rel=0&amp;showinfo=0" as="document">
<link rel="preload" href="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/535949322&color=%233e5d6c&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true" as="document">
</head>
<body>

	<div id="vue-div"> 
		<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top navbar-sticky-top">
	  <a class="navbar-brand nav-item" v-on:click="setMode('title')">Conrad Menchine</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarColor03">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" v-on:click="setMode('title')">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" v-on:click="setMode('Music')">Music</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" v-on:click="setMode('Art')">Art</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link"  v-on:click="setMode('Code')">Code</a>
	      </li>
	    </ul>
	    <form class="form-inline my-2 my-lg-0">
	      <a class="icon" href="https://www.youtube.com/c/ConradMenchine" target="_blank"><img  alt="YouTube" src="img/yt.png" height="30px"></a>
          <a class="icon" href="https://github.com/cowratt" target="_blank"><img alt="GitHub" src="img/github-64.png" height="38px"></a>
	    </form>
	  </div>
	</nav>

	<br><br><br>

	<div class="container-fluid">

		<transition name="slide-up-fade">
		<div class="title" v-if="mode == 'title'">
			<div class="row">
				<img src="img/img.png" class="img-fluid rounded-circle" id="mainPic">
			</div>
			<h1>Conrad Menchine</h1>
		</div></transition>
		<transition name="fade"><div v-if="mode == 'title'">
				<div class="row">
					<div class="col-lg-4">
						<div class="card" id="card-music" v-on:click="setMode('Music')">
						  <div class="card-body">
						    <h4>Music</h4>
						  </div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="card" id="card-art" v-on:click="setMode('Art')">
						  <div class="card-body">
						    <h4>Art</h4>
						  </div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="card " id="card-code" v-on:click="setMode('Code')">
						  <div class="card-body">
						    <h4>Code</h4>
						  </div>
						</div>
					</div>

					</div>
				
				<center><h5 style="max-width: 600px; padding-top: 60px;">I'm a guy that likes making things. I like digital art, I write code and make short videos, and occasionally I publish songs. This site is new and i haven't finished adding content. I made it with Bootstrap and Vue.</h5></center>
</div>
		</transition>
		<transition name="fade">
			<div>
				
			</div>
		</transition>

		<transition name="fade">
			<h1 v-if="showSidebar">${mode}</h1>
		</transition>

		<div class="row">
			<transition name="slide-fade">
				<div id="sidebar" class="col-lg-4" v-if="showSidebar">
					<span v-if="mode == 'Music'">
						<p>
							Here is where my music and music-related projects go. I don't really like posting this kind of stuff publicly, but I realized that I should at least have a few tracks on the internet.

						</p>
					</span>
					<span v-if="mode == 'Art'">
						<p>
							I have not done much art professionally or for classes, and thus, most of the art that you'll see on this page is somewhat self-indulgent. I do my 3D modelling with Blender, and digital illustration with Adobe Illustrator. I do my video production with Premiere and motion graphics/camera tracking with After Effects.
						</p>			
					</span>
					<span v-if="mode == 'Code'">
						<p>
							I've been writing code and working on projects since I was introduced to TI-BASIC at age 13. <br>I am proficient in Python, Java, C++, JavaScipt, and HTML/CSS. I have specific experience with Java Android development, VueJS, JQuery, Bootstrap, Web2Py, Pygame, Pyhook, and other small python packages. I also have some experience with Perl, Ocaml, and Lisp, though just in the context of school.<br>Practical engineering is an interest of mine, and I have done a few projects with Arduino, most notably the Pedalbox controller that is featured on this page.<br>The code for this website and some of my public projects is available on <a href="http://www.github.com/cowratt">my GitHub page.</a>
						</p>						
					</span>
					
				</div>
			</transition>
			<transition name="fade">
				<div class="code-content content col-lg-8" v-show="showSidebar && mode == 'Code'">
			          <div class="embed-responsive embed-responsive-16by9">
			            <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/gmCqu7BbbLU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
			          </div>
			          <br>
			          <h2><center>MIDI Guitar Pedal Controller</center></h2>
			          <br><br>
			          <img class="img-fluid rounded" src="img/code/lake.png" alt="lake"/>
			          <br>
			          <h2><center>Pointillism effect</center></h2>
			          <br><br>
			          <img class="img-fluid rounded" src="img/code/dust.jpg" alt="lake"/>
			          <br>
			          <h2><center>Programmatically generated dust</center></h2>
			    </div>
			  </transition>
			  <transition name="fade">
			    <div class="music-content content col-lg-8" v-show="showSidebar && mode == 'Music'">
			    		<div class="embed-responsive embed-responsive-16by9">
			          <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/ZujKJipNVyg?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
			        </div>
			        <br>
		          <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/535949322&color=%233e5d6c&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
		          <br>
		          <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/534513588&color=%233e5d6c&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
			    </div>
			</transition>
			<transition name="fade">
			    <div class="music-content content col-lg-8" v-show="showSidebar && mode == 'Art'">
					<img class="img-fluid rounded" src="img/art/eye.png" alt="lake"/>
					<br>
					<h2><center>Photorealistic Eye </center></h2>
					<br><br>
					<img class="img-fluid rounded" src="img/art/plant.jpg" alt="lake"/>
					<br>
					<h2><center>3D modelled plant</center></h2>
					<br><br>
					<div class="embed-responsive embed-responsive-16by9">
			            <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/eYxYEEAgwiI?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
			        </div>
			        <br><br>
			        

			        <div class="row">
				      <div class="col-6">
				        <img class="img-fluid rounded" src="img/art/recordplayer.jpg" alt="Record Player">
				      </div>
				      <div class="col-6">
				        <img class="img-fluid rounded" src="img/art/sea.jpg" alt="Sea">
				      </div>
				    </div>
				    <br>
				    <div class="row">
				      <div class="col-6">
				        <img class="img-fluid rounded" src="img/art/lamp.png" alt="Lamp">
				      </div>
				      <div class="col-6">
				        <img class="img-fluid rounded" src="img/art/illustration-noborder.png" alt="Spiral" id="spiral">
				      </div>
				    </div>




			    </div>
			</transition>
			<div id="preloadedImages" v-show="false">
	<img src="img/code.jpg">
</div>
		</div>

	</div>
</div>


</body>


</html>