@import url('https://fonts.googleapis.com/css?family=Seaweed+Script');
.navbar{
	padding-bottom: 0px;
	margin-bottom: 0px;
	align-items: center;
}
.navbar .navbar-brand{
	 color: #E7AF55;
	 font-family: 'Seaweed Script', "Helvetica Neue", Helvetica, Arial, cursive;
	 font-size: 2em;
}
.navbar .navbar-brand:hover{
color: #fed136;
}
.icon{
	opacity: 0.5;

}
.icon:hover{
	opacity: 1;
}

body{
	background-color: #f9f9f9;
}

header{
	padding-top: 10em;
	background: #ededed;
	background-image: url("images/card2_4k_2.jpg");
	background-repeat:no-repeat;
	background-attachment: scroll;
	text-align: center;
	padding-bottom: 8em;
	color: #ffffff;
	//text-shadow: 1.25px 1.25px 1.25px #000000;
	background-size: cover;
}
.about-me{
	padding-top: 2em;
	padding-bottom: 2em;


}
.frontpage-links{
	padding-bottom: 2em;
	background: #ededed;
}
.gallery{
	padding-top: 2em;
}
.double p{
	text-align: center;
}
hr{
	border-width: 2px;
}
h1{
	text-align: center;
	font-size: 4em;
}
h2{
	text-align: center;
}

p{
	font-size: 1.5em;
}
.btn{
	float: bottom;
}
btn{
	float: bottom;
}
.modal-lg {
     width: 60%;
}
