@import url('https://fonts.googleapis.com/css?family=Seaweed+Script');
.navbar{
	padding-bottom: 0px;
	margin-bottom: 0px;
	align-items: center;
}
.navbar .navbar-brand{
	 color: #E7AF55;
	 font-family: 'Seaweed Script', "Helvetica Neue", Helvetica, Arial, cursive;
	 font-size: 2em;
}
.navbar .navbar-brand:hover{
color: #fed136;
}
.icon{
	opacity: 0.5;

}
.icon:hover{
	opacity: 1;
}

html{

	height: 100vh;
}

body{
	background-color: #f9f9f9;
	height: 100vh;

}

header{
	max-height: : 100vw;
	padding-top: 10em;
	background: #ededed;
	background-image: url("images/card2_4k_2.jpg");
	background-repeat:no-repeat;
	background-attachment: scroll;
	text-align: center;
	padding-bottom: 10em;
	color: #ffffff;
	//text-shadow: 1.25px 1.25px 1.25px #000000;
	background-size: cover;
}
.modal-lg {
     width: 60%;
}

@media (max-width: 991px) {
	.modal-lg {
		width: 95%;


	}
	header{
		padding-top: 3em;
		padding-bottom: 3em;
	}
}

@media (max-width: 768px) {

body{
	font-size: 2.5vw;
}
h2{
	font-size: 3vw
	font-weight: bold;
}
}


.about-me{
	padding-top: 2em;
	padding-bottom: 2em;


}
.frontpage-links{

	padding-bottom: 2em;
	background: #ededed;
}

.resume-header{
	background: #ededed;
}
.spacer{
	min-height: calc(100% - 871px);

}
.resume-links{
position: relative;
padding-top: 2em;
padding-bottom: 4em;
    bottom: 0;
    width: 100%;
	background-color: #424242;
	color: #f4f4f4;

}
.gallery-head{
padding-top: 1em;
padding-bottom: 2em;
}
.gallery{
	background-color: #424242;
	color: #f4f4f4;
	padding-top: 2em;
	padding-bottom: 1em;
}
.triggerclass{
	border-color: transparent;
	outline: none;
	background-color: #424242;
	color: #f4f4f4;
}
.modal-content{
	background-color:#bcbcbc;
}
.programming{
	background-color:#e0e0e0;
}
pre{
	overflow: auto;
	background: #282828;
	max-height: 30em;
}
.double p{
	text-align: center;
}
hr{
	border-width: 2px;
}
h1{
	text-align: center;
	font-size: 3.5em;
}

p{
	font-size: 1.5em;
}
.btn{
	float: bottom;
}
btn{
	float: bottom;
}
