body{
    background-color:#292929;
    color: #eee;
}

.spacer-100px{
    padding-top: 100px;
}


@media only screen and (max-height: 600px) {
    .spacer-100px{
        padding-top: 50px;
    }
  }

.main{
    text-align: center;
    align-items: center;
}

a{
    color: #88f;
}