body{
    background: #292929;
}
h1{
    color: #eee;
}
h2{
	color: #eee;
}

p{
	 color: #eee;
	 font-size: 16px;
}
@media (min-width: 992px) {
	p{
		font-size: 14px;
	}
}
.middle{
		padding-top: calc((100vh - 550px)/2);
		margin-left: 0px;
		padding-left: 0px;
		padding-right: 0px;
}
@media (max-width: 768px) {
   .middle{
   	padding-top: 0px;
		padding-left: 20px;
		padding-right: 20px;
}
	}
.main{
	padding-left: 20px;
	padding-right: 20px;
}

.musiclabel{
	position: relative;
}

i{
	font-size: 50px;
	color: #eee;
}

.portfolio i{
	font-size: 40px;
	margin: 10px;
}

.music a i{
	font-size: 100px;
	margin-left: 20px;
	margin-right: 20px;
}

.sidebtn{
	vertical-align: middle;
	width: auto;
	height: 100%;
	padding-top: 10px;
}
.sidebtn:hover{
	background: rgba(60,60,60,60);
	cursor: pointer;
}

.portfolioBtn{
	width: auto;
	padding-top: auto;
}
.portfolioBtn:hover{
	background: rgba(60,60,60,60);
	cursor: pointer;
}

.sidebtnLeft{
	padding-left: 30px;
}
.sidebtnRight{
	padding-right: 30px;
}

#portfolioButton{
	padding-top: 50px;
	vertical-align: bottom;
}

.bigtext{
	font-size: 72px;
	/*color: #021e47;*/
}

.groupr{
	background-color: #2a3f6f;

	color: #fff;
}

.lk{
	background-color: #111;

	color: #fff;
}
.textbox{
	margin-top: 30px;
	margin-bottom: 30px;
}

.portfolio img{
	max-height: 160px;
	padding-top: 10px;
}

.art img{
	margin-bottom: 30px;
}