<!DOCTYPE html>
<!-- 
Well aren't you a sly one, inspecting the source on my website!
It was built with the Bootstrap library and is hosted on github
...
and has a bunch of weird css stuff because I really don't like using javascript.
-->
<html>
<head>
<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<meta name="keywords" content="conrad menchine, conrad, menchine, conrad menchine website, cowratt, santa cruz, graphic design, programmer" />
<meta name="description" content="Conrad Menchine, programmer and graphic artist based in Santa Cruz, CA.">



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>

	<title>Conrad Menchine</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/sandstone/bootstrap.min.css" rel="stylesheet" integrity="sha384-G3G7OsJCbOk1USkOY4RfeX1z27YaWrZ1YuaQ5tbuawed9IoreRDpWpTkZLXQfPm3" crossorigin="anonymous">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="https://maxcdn.bootstrapcdn.com/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="main.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>

    <script type="text/javascript" src="js/vue.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>

	<link rel="stylesheet" type="text/css" href="css/main.css"></link>
</head>
<body>
	<div id="vue-div">
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a href="/" class="navbar-brand">Conrad Menchine</a>
   		 </div>

   		  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">
        
          <li><a href="code">Programming</a></li>
          <li><a href="gallery">Gallery</a></li>
          <li><a href="resume">Resume</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="contact">Contact</a></li>
        <li class="icon"><a href="https://www.youtube.com/c/ConradMenchine" target="_blank"><img  alt="YouTube" src="images/yt-light.png" height="20px"></a></li>
        <li class="icon"><a href="https://github.com/cowratt" target="_blank"><img alt="GitHub" src="images/github-white.png" height="25px"></a></li>
      </ul>
    </div>
		</div>
	</nav>

	<br><br><br>

	<div class="container-fluid">

		<transition name="slide-up-fade">
		<div class="title" v-if="mode == 'title'">
			<div class="row">
				<img src="img/me.jpg" class="img-fluid img-circle" id="mainPic">
			</div>
			<h1>Conrad Menchine</h1>
		</div></transition>
		<transition name="fade"><div v-if="mode == 'title'">
				<div class="row">
					<div class="col-lg-4">
						<div class="card" id="card-music" v-on:click="setMode('Music')">
						  <div class="card-body">
						    <h4>Music</h4>
						  </div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="card" id="card-art" v-on:click="setMode('Art')">
						  <div class="card-body">
						    <h4>Art</h4>
						  </div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="card " id="card-code" v-on:click="setMode('Code')">
						  <div class="card-body">
						    <h4>Code</h4>
						  </div>
						</div>
					</div>

					</div>
				
				<center><h5 style="max-width: 600px; padding-top: 60px;">I'm a guy that likes making things. I like digital art, I write code and make short videos, and occasionally I publish songs. This site is new and i haven't finished adding content. I made it with Bootstrap and Vue.</h5></center>
</div>
		</transition>

	</div>
</div>


</body>
</html>